<a href="https://colab.research.google.com/github/kintarou/kintarou.github.io/blob/master/%E4%B8%89%E8%A7%92%E5%B9%B3%E6%96%B9%E6%95%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for m in range(10000):
  for n in range(10000):
    if m*(m+1)/2 == n**2:
      print(m,n)

0 0
1 1
8 6
49 35
288 204
1681 1189
9800 6930

In [3]:
import math

MAX = 10000
n = 0
Tn = n*(n+1)/2
while Tn <= MAX:
  if math.sqrt(Tn)%1 == 0:
    print(Tn)
  n = n+1
  Tn = n*(n+1)/2

0.0
1.0
36.0
1225.0